/*
** EPITECH PROJECT, 2024
** B-SVR-500-LYN-5-1-survivor-killian.cottrelle
** File description:
** Profile
*/

.containerCompatibility {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fce4ec;
  border-radius: 1vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20vh;
}

.choseYourCharacter {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f68886;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f68886;
  transition: border-color 0.3s ease;
}

.choseYourCharacter:focus {
  border-color: #c2185b;
  outline: none;
}

.verticalCompatibility {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.CompatibilityPercentageNumber {
  font-size: 60px;
  color: #ff47c8;
  margin: 0;
  margin-top: 10vh;
}

.TRYButton {
  font-size: 24px;
  font-weight: bold;
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.TRYButton:hover {
  background-color: #c2185b;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.TRYButton:active {
  background-color: #fff;
  color: #e91e63;
}

.heart {
  animation: heartbeat 1s infinite;
  position: absolute;
  user-select: none;
  font-size: 100px;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
}

.leftCompatibility,
.rightCompatibility {
  border: 1px solid #ddd;
  background-color: #fce4ec;
  padding: 20px;
  border-radius: 0.5vw;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .containerCompatibility {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .leftCompatibility,
  .rightCompatibility {
    width: 100%;
    margin: 0;
  }

  .TRYButton {
    width: 80%;
  }
  .CompatibilityPercentageNumber {
    font-size: 40px;
  }
}

.leftCompatibility {
  margin-right: 1vw;
}
.rightCompatibility {
  margin-left: 1vw;
}
