/*
** EPITECH PROJECT, 2024
** B-SVR-500-LYN-5-1-survivor-killian.cottrelle
** File description:
** CSSCustomerList
*/

.fakeCounter {
  margin-left: 1vw;
  color: #e91e63;
}

.container {
  align-items: stretch;
  display: flex;
  color: #c2185b;
}

.scaleSort {
  width: 1vw;
  height: 0.8vw;
}

.scaleSort:active {
  opacity: 50%;
}

.clientList {
  border-radius: 0.3vw;
  background-color: #fce4ec;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-right: 1vw;
}

.tripleDot:hover {
  color: #7a4c83;
  cursor: pointer;
}

.buttonAlign {
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
}

.space {
  width: 100%;
  border-collapse: collapse;
}

.space tr {
  border-top: 1px solid #f8bbd0;
  border-bottom: 1px solid #f8bbd0;
}

.space th, .space td {
  padding: 1vw;
  text-align: left;
  border: none;
}

.clientList th, .clientList td {
  border-top: 1px solid #f8bbd0;
}

.leftAlign {
  text-align: left;
}

.interSpace {
  line-height: 1vh;
}

.alineCenter {
  text-align: center;
}

.imagePostion {
  display: flex;
  align-items: center;
  width: 15vw;
}
