/*
** EPITECH PROJECT, 2024
** B-SVR-500-LYN-5-1-survivor-killian.cottrelle
** File description:
** CSSProfile
*/

.name-container {
  padding-bottom: 1vw;
  border-bottom: 1px solid #ddd;
  margin-top: 1vw;
  margin-bottom: 2vw;
  font-weight: bold;
  text-align: center;
  font-size: 1vw;
}

.profilPicture {
  display: block;
  margin: auto;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
}

.container {
  align-items: stretch;
  display: flex;
  color: rgb(61, 101, 124);
}

.left, .right {
  border: 1px solid #ddd;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 0.3vw;
}

.left {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 24%;
  height: 76vh;
}

.right {
  width: 73%;
  height: 0vh;
  max-height: 76vh;
}

.horizontaleLineUp {
  padding-top: 1vw;
  border-top: 1px solid #ddd;
}

.horizontaleLineDown {
  padding-bottom: 1vw;
  border-bottom: 1px solid #ddd;
}

.clientsTable {
  width: 100%;
  border-collapse: collapse;
}

.clientsTable tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.clientsTable th, .clientsTable td {
  padding: 10px;
  text-align: left;
  border: none;
}

.client-size {
  margin-top: 7vh;
  width: 99vw;
  height: 91vh;
}

.titleClient {
  margin-left: 1vw;
  color: rgb(72, 72, 121);
}

.text-Flex {
  display: flex;
  justify-content: space-between;
}

.interSpace td {
  padding: 8px 5px;
}

.statistic-customers {
  text-align: center;
  width: 100%;
}

.customerTitleDetails {
  color: #8ba3a7;
  font-size: 13px;
}

.customerDetails {
  color: #4c4c83;
}

.interLine {
  line-height: 0.5vh;
}

.backButton {
  margin-right: 1vw;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ddd;
  background-color: white;
  color: rgb(72, 72, 121);
  border-radius: 0.3vw;
  width: 6vw;
  height: 2vw;
}

.flexBack {
  align-items: center;
}