/*
** EPITECH PROJECT, 2024
** B-SVR-500-LYN-5-1-survivor-killian.cottrelle
** File description:
** CSSProfile
*/

.name-container {
  padding-bottom: 1vw;
  border-bottom: 1px solid #f8bbd0;
  margin-top: 1vw;
  margin-bottom: 2vw;
  font-weight: bold;
  text-align: center;
  font-size: 1vw;
  color: #e91e63;
}

.profilPicture {
  display: block;
  margin: auto;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  border: 2px solid #f8bbd0;
}

.left, .right {
  border: 1px solid #f8bbd0;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: #fce4ec;
  padding: 2vw;
  border-radius: 0.3vw;
}

.left {
  border-top: 1px solid #f8bbd0;
  border-bottom: 1px solid #f8bbd0;
  width: 24vw;
  height: 76vh;
}

.right {
  width: 100vw;
  height: 0vh;
  max-height: 76vh;
}

.clientsTable {
  width: 100%;
  border-collapse: collapse;
}

.clientsTable tr {
  border-top: 1px solid #f8bbd0;
  border-bottom: 1px solid #f8bbd0;
}

.clientsTable th, .clientsTable td {
  padding: 1vw;
  text-align: left;
  border: none;
}

.interSpace td {
  padding: 0.8vw 0.5vw;
}

.statistic-customers {
  text-align: center;
  width: 100%;
}

.customerTitleDetails {
  color: #e91e63;
  font-size: 13px;
}

.customerDetails {
  color: #c2185b;
}

.interLine {
  line-height: 0.5vh;
}

.flexBack {
  align-items: center;
}
