/* -------------- General items --------------*/

/*#fce4ec; Rose très clair */
/*#ff47c8; Rose vif */
/*#e91e63; Couleur principale pour le texte */
/*#c2185b; Rose foncé */

body {
  font-family: 'Ubuntu', sans-serif;
  background: #f7f7f7;
  background-attachment: fixed;
  background-size: cover;
  color: #e91e63;
  display: flex;
  align-items: center;
}

li {
  margin-left: 2vw;
}

.centerTEXT {
  display: flex;
  margin-top: 20vw;
  margin-left: 45vw;
}

.titleTopPage {
  margin-left: 1vw;
  color: #c2185b;
}

.text-Flex {
  display: flex;
  justify-content: space-between;
}

.marginTopPage {
  margin-top: 7vh;
  width: 99vw;
  height: 91vh;
}

.container {
  align-items: stretch;
  display: flex;
  color: #d81b60;
}

.horizontaleLineUp {
  padding-top: 1vw;
  border-top: 1px solid #f8bbd0;
}

.horizontaleLineDown {
  padding-bottom: 1vw;
  border-bottom: 1px solid #f8bbd0;
}

.tipsText {
  margin-left: 0.5vw;
  font-weight: 400;
  font-size: 0.8vw;
}

.prefabButton {
  margin-right: 1vw;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #f48fb1;
  background-color: #fce4ec;
  color: #c2185b;
  border-radius: 0.3vw;
  width: 6vw;
  height: 2vw;
}

.prefabButton:active {
  background-color: #c2185b;
  color: #fff;
}

h1 {
  padding-top: 6vh;
  padding-left: 1vh;
  letter-spacing: 1.5px;
}

details {
  padding: 2vh;
  font-size: 1.2em;
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #f8bbd0;
  font-weight: bold;
}

details > p {
  margin: 10px 0 0 0;
  padding: 10px;
  border-top: 1px solid #f8bbd0;
  background-color: #fce4ec;
  font-size: 0.8vw;
  margin-right: 10px;
  font-weight: 400;
}

h3 {
  color: #e91e63;
  padding-left: 1vh;
  letter-spacing: 1.5px;
}

h4 {
  color: #d81b60;
}

table {
  width: 100%;
  border: 1px solid #fce4ec;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #f8bbd0;
  border-radius: 10px;
  font-size: 15px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

textarea:focus {
  border-color: #e91e63;
  box-shadow: 0 0 10px rgba(233, 30, 99, 0.3);
  outline: none;
}

.login button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(135deg, #f06292 0%, #ec407a 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

.error-message {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  border-radius: 5px;
}

.error-text {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}

.login button:hover {
  background: linear-gradient(135deg, #ec407a 0%, #d81b60 100%);
  transform: translateY(-2px);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

input[type='file'] {
  padding: 0.5vw;
  background: #fce4ec;
  border: 1px solid #f8bbd0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  font-size: 1vw;
  margin-bottom: 1vw;
}

.login h3 {
  color: #222;
  text-align: center;
  letter-spacing: 1.5px;
}

.login {
  border: 3px solid #f8bbd0;
  min-width: 15vw;
  max-width: 20vw;
  margin-top: 20vh;
  margin-left: 40vw;
  margin-bottom: 3vw;
  background-color: #fff;
  padding: 40px;
  border-radius: 0.5vw;
  animation: fadeIn 0.5s ease-in-out;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login form label {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.login form input {
  width: 90%;
  padding: 15px;
  margin-top: 5px;
  border: 2px solid #f8bbd0;
  border-radius: 10px;
  font-size: 15px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.login form input:focus {
  border-color: #e91e63;
  box-shadow: 0 0 10px rgba(233, 30, 99, 0.3);
  outline: none;
}

.login form button {
  background: linear-gradient(135deg, #f06292 0%, #ec407a 100%);
  margin-top: 30px;
}
